<head>
    <script src="../ute/js/empleado.js"></script>
    <title>Empleados</title>
</head>
<div class="container">
    <div class="panel-body">

        <div class="row" id='rowFrom'>
            <form action="" style="display: block;" id="frmEmpleados">
                <div class="col-lg-4 hidden">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="empleadoId" v-model='empleadoId' placeholder="Nombre">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuario"  class="form-control empleados" v-model="usuarioId">
                            <option value="0">--- Selecione un Tipo de Empleado ---</option>
                            {{#each usuario}}
                            <option value='{{usuarioId}}'>{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="name" v-model='nombre' placeholder="Nombre">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellidoPaterno" v-model='apellidoPaterno' placeholder="Apellido Paterno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellidoMaterno" v-model="apellidoMaterno" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="date" name="fechaNacimiento" v-model="fechaNacimiento" class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="email" v-model="email" placeholder="Email">
                    </div>
                </div>
                {{!-- <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuarioId" id="" class="form-control">
                            <option value="">-- Seleccione un tipo de Usuario --</option>
                        </select>
                    </div>
                </div> --}}
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="file" name="upload"  class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <textarea name="description"  rows="2" class="form-control empleados"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id='btnSave' v-on:click="modsJS.valideDatos()">Guardar</button>
                        <button type="button" class="btn btn-secondary" v-on:click="modsJS.clenFrom()">Nuevo</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">

           
        </div>
          <script type="text/x-template" id="grid-template">
          <table class="table">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)" 
                  
                  \:class="{ active: sortKey == key.name }">
                  
                  <template v-if="key.name !==''">
                    \{{ key.name | capitalize }}
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'" >
                  </template>
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredHeroes">
                <td>\{{entry['nombre']}}</td>
                <td>\{{entry['email']}}</td>
                <td>
                    <button type='button' class="btn btn-primary"  v-on:click='getObject(entry["empleadoId"])' >Editar</button>
                    <button type='button'    class="btn btn-danger" v-on:click='deleteObject(entry["empleadoId"])'>Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </script>
       <div id="demo">
          <form id="search" style="margin-bottom:5px">
            Search <input name="query" v-model="searchQuery" class="form-control">
          </form>
          <demo-grid
            :heroes="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
    </div>
</div>