<head>
    <script src="../ute/js/empleado.js"></script>
    <style>
        .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}
    </style>
</head>
<div class="container">
    <div class="panel-body">
        <div class="row" style="margin-bottom:auto;">
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id='btnSeenForm'>Ver formulario</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"><button type="button" class="btn btn-secundary">Ver empleados</button></div>
            </div>
        </div>

        <div class="row" id='rowFrom'>
            <form action="" style="display: block;" id="frmEmpleados">
                <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuario"  class="form-control empleados">
                            <option value="0">--- Selecione un Tipo de Empleado ---</option>
                            {{#each usuario}}
                            <option value='{{usuarioId}}'>{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="name" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellido_p" placeholder="Apellido Paterno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellido_m" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="date" name="happy_brithday"  class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="email" placeholder="Email">
                    </div>
                </div>
                {{!-- <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuarioId" id="" class="form-control">
                            <option value="">-- Seleccione un tipo de Usuario --</option>
                        </select>
                    </div>
                </div> --}}
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="file" name="upload"  class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <textarea name="description"  rows="2" class="form-control empleados"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id='btnSave'>Guardar</button>
                        <button type="button" class="btn btn-secondary">Nuevo</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
           {{!--  <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th style="width:266px;">Email</th>
                        <th>Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each empleados}}
                    <tr>
                        <td>{{NOMBRE}}</td>
                        <td>{{EMAIL}}</td>
                        <td>{{FECHA_NACIMIENTO}}</td>
                        <td>
                        <div class="from-group" style="margin:5px;">
                            <button type="button" class="btn btn-primary">Editar</button>
                        </div>
                        <div class="form-group" style="margin:5px;">
                            <button type="button" class="btn btn-danger">Dar de baja</button>
                        </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> --}}

           
        </div>
          <script type="text/x-template" id="grid-template">
          <table class="table">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)" 
                  
                  \:class="{ active: sortKey == key }">
                  \{{ key | capitalize }}
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredHeroes">
                 {{!-- <td v-for="key in columns">
                    \{{entry[key]}}

                </td> --}}

                <td>\{{entry['NOMBRE']}}</td>
                <td>\{{entry['EMAIL']}}</td>
                <td>
                    <button type='button' class="btn btn-primary">Editar</button>
                    <button type='button'    class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </script>
       <div id="demo">
          <form id="search">
            Search <input name="query" v-model="searchQuery" class="form-control">
          </form>
          <demo-grid
            :heroes="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
    </div>
</div>