<head>
    <script src="../ute/js/empleado.js"></script>
</head>
<div class="container">
    <div class="panel-body">
        <div class="row" style="margin-bottom:auto;">
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" id='btnSeenForm'>Ver formulario</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4"><button type="button" class="btn btn-secundary">Ver empleados</button></div>
            </div>
        </div>

        <div class="row" id='rowFrom'>
            <form action="" style="display: block;" id="frmEmpleados">
                <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuario"  class="form-control empleados">
                            <option value="0">--- Selecione un Tipo de Empleado ---</option>
                            {{#each usuario}}
                            <option value='{{usuarioId}}'>{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="name" placeholder="Nombre">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellido_p" placeholder="Apellido Paterno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="apellido_m" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="date" name="happy_brithday"  class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="form-control empleados" name="email" placeholder="Email">
                    </div>
                </div>
                {{!-- <div class="col-lg-4">
                    <div class="form-group">
                        <select name="usuarioId" id="" class="form-control">
                            <option value="">-- Seleccione un tipo de Usuario --</option>
                        </select>
                    </div>
                </div> --}}
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="file" name="upload"  class="form-control empleados">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <textarea name="description"  rows="2" class="form-control empleados"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-success" id='btnSave'>Guardar</button>
                        <button type="button" class="btn btn-secondary">Nuevo</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th style="width:266px;">Email</th>
                        <th>Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each empleados}}
                    <tr>
                        <td>{{NOMBRE}}</td>
                        <td>{{EMAIL}}</td>
                        <td>{{FECHA_NACIMIENTO}}</td>
                        <td>
                        <div class="from-group" style="margin:5px;">
                            <button type="button" class="btn btn-primary">Editar</button>
                        </div>
                        <div class="form-group" style="margin:5px;">
                            <button type="button" class="btn btn-danger">Dar de baja</button>
                        </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>