<head>
    <script src="../ute/js/paginas.js"></script>
</head>
<div class="container">
    <p>{{user.NOMBRE}}</p>
    <div class="row">
        <form id="frmAccesos">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Nombre de la página">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Descripción">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="URL">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-secundary">Nuevo</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <button type="button" class="btn btn-success" id='btnSave'>Guardar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">

           
        </div>
<script type="text/x-template" id="grid-template">
          <table class="table">
            <thead>
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)" 
                  
                  \:class="{ active: sortKey == key.name }">
                   
                  <template v-if="key.name !==''">
                   \{{ key.name | capitalize }}
                  <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'" > </span>
                  </template>
                 
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredHeroes">
                <td>\{{entry['NOMBRE']}}</td>
                <td>\{{entry['URL']}}</td>
                <td>\{{entry['DESCRIPCION']}}</td>
                <td>
                    <button type='button' class="btn btn-primary"  v-on:click='getObject(entry["EMPLEADO_ID"])' >Editar</button>
                    <button type='button'    class="btn btn-danger">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </script>
         <div id="demo">
          <form id="search" style="margin-bottom:5px">
            Search <input name="query" v-model="searchQuery" class="form-control">
          </form>
          <demo-grid
            :heroes="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
          </demo-grid>
    </div>
</div>
